@mixin img-16 ($src) {
    display: inline-block;
    background: url($src) no-repeat center;;
    width: 16px;
    height: 16px;
}

@mixin img-32 ($src) {
    display: inline-block;
    background: url($src) no-repeat center;;
    width: 32px;
    height: 32px;
}

@mixin img-64 ($src) {
    display: inline-block;
    background: url($src) no-repeat center;;
    width: 64px;
    height: 64px;
}

@mixin img-128 ($src) {
    display: inline-block;
    background: url($src) no-repeat center;;
    width: 128px;
    height: 128px;
}


.btc-16 {
    @include img-16("../src/icons/Bitcoin/16x16.jpg");
}

.btc-32 {
    @include img-32("../src/icons/Bitcoin/32x32.jpg");
}

.btc-64 {
    @include img-64("../src/icons/Bitcoin/64x64.jpg");
}

.btc-128 {
    @include img-128("../src/icons/Bitcoin/128x128.jpg");
}
